@plugin "daisyui/theme" {
  name: "elegant";
  color-scheme: dark;

  --color-primary: oklch(67.09% 0.15 295.56);
  --color-secondary: oklch(91.13% 0.132 196.21);
  --color-accent: oklch(63.57% 0.261 0.78);
  --color-neutral: oklch(32.94% 0 0);
  --color-base-100: oklch(7.78% 0 0);
  --color-base-200: oklch(13.95% 0 0);
  --color-base-300: oklch(21.89% 0 0);
  --color-info: oklch(61.05% 0.191 262.62);
  --color-success: oklch(67.79% 0.177 142.78);
  --color-warning: oklch(75.59% 0.199 49.43);
  --color-error: oklch(61.45% 0.239 27.16);
  --color-text-primary: oklch(100% 0 0);
  --color-text-secondary: oklch(72.31% 0 0);
}
