@plugin "daisyui/theme" {
  name: "elegant";
  color-scheme: dark;

  --root-bg: #121416;
  --depth: 0;
  --noise: 0;

  --color-base-100: #181c20;
  --color-base-200: #22262a;
  --color-base-300: #2c3034;
  --color-base-content: #f0f4f8;
  --color-primary: #167bff;
  --color-primary-content: #fff;
  --color-secondary: #9c5de8;
  --color-secondary-content: #fff;
  --color-accent: #00d3bb;
  --color-accent-content: #f3fbf6;
  --color-neutral: #dce1e6;
  --color-neutral-content: #1e2832;
  --color-info: #14b4ff;
  --color-info-content: #fff;
  --color-success: #17c964;
  --color-success-content: #fff;
  --color-warning: #f5a524;
  --color-warning-content: #150a00;
  --color-error: #f31260;
  --color-error-content: #fff;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --rounded-box: 0.25rem;  
}
