/* 
* HACK: Disables browser autocomplete background color
* Blatantly stolen from: https://stackoverflow.com/a/69364368 
*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition-delay: 0s;
  transition-duration: 600000s;
  transition-property: background-color, color;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

/* 
* Avoids layout shift for iconify icons
* Reference: https://iconify.design/docs/iconify-icon/#layout-shift
*/
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

/*
* Make progress a lit less choppy
*/
progress::-webkit-progress-value {
  transition: width 0.5s ease-in-out;
}

progress::-moz-progress-bar {
  transition: width 0.5s ease-in-out;
}

/*
* Disable text selection by default in all elements.
* The idea is to bring a more native look and feel to the web app.
* It might be feel too restrictive initially, but the majority of the UX
* is not around selecting text so we want to control where it's enabled.
*/

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
